.DS_Store
/Baker.xcodeproj/project.xcworkspace/xcuserdata/andrewkrowczyk.xcuserdatad/UserInterfaceState.xcuserstate
/Baker.xcodeproj/xcuserdata/andrewkrowczyk.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist